body {
     margin: auto;
     background-color: #F5F5F5;
     max-width: 30rem;
     padding: 1.5rem;
     font-family: "Helvetica", sans-serif;
     font-size: large;
}

.diffInputField {
     white-space: pre;
     overflow-wrap: normal;
     overflow-y: scroll;
     overflow-x: scroll;
}
